body {
    background-color: rgb(242, 226, 216);
    background-image: url("/static/images/slices.png");
    background-repeat: repeat;
    margin:5em;
    margin-top: 10px;
    text-align: center;
    font-family: 'Avenir black';
    color: #BD4A84;
}

h1, h2, h3, h4, h5, h6, #current-page {
    font-family: 'Avenir black', Arial, Helvetica, sans-serif;
    color: #6D1344;
    text-align: center;
    margin: 10px;

}

button{
    background: 0;
    border:3px #6D1344
}

a{
    text-decoration: none;
}

body #first-page {
    width: 100%;
    height: 700px;
    background: url("/static/images/manjillustrationlogin1.svg"), url("/static/images/manjillustrationlogin2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    margin-top: 10em;
    background-position: 
                -537px, 
                291px;
}

#main-logo{
    background-image: url("/static/images/manji.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-size: contain;
    background-position: center;
    margin: 15px;
}

#log-in-form{
    text-align: center;
    background-color: transparent;
}


#register-btn{
    background-image: url("/static/images/manjiregister.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 11em;
    height: 3em;  
}

#registration{
    margin-top: 50px;
}

#wine-left{
    background-image: url("/static/images/wineright.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#wine-right{
    background-image: url("/static/images/wineleft.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#first-page{
    margin: 0px;
}


input {
  border-radius: 25px;
  border: 3px solid #6D1344;
  padding: 20px;
  width: 200px;
  height: 50px;
  margin: 6px;
  font-family: 'Avenir medium', Arial, Helvetica, sans-serif sans-serif;
}

#first-page {
    text-align: center;
}

nav{
    background-color: #FBE7B9;
    border: solid 3pt #ED9783;
    border-radius: 25px;
    text-align: left;
    position: relative;
    margin: 0%;
    
}

#current-page{
    text-align: right;
}

ul.navbar-nav{
    padding-left: 3em;
}
.navbar-brand-wrap{
    text-align: right;
}
#menu-icon{
    height: 50px;
    width:35px;
}
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent
}

#logo-img{
    z-index: 7;
    width: 11%;
    height: 131%;
}
#nav-logo{
    height: 100%;
}
.homepage-container{
    position: relative;
}


#current-user-btn{
    position: sticky;
    top: 0;
    text-align: center;
    display: inline-flex;
    align-content: stretch;
    justify-content: center;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    border: 7px solid #ED9783;
    background-color: #6D1344;
    box-shadow: 0px 0px 3px #ED9783;

}

#user-name{
    color: #FBE7B9
}

#map-friend{
    height: 400px;
    justify-content: space-evenly;
    margin-top: 25px;
}

.map-container{
    border: solid 5px #6D1344;
    border-radius: 25px;
    width: 700px;
    height: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px #6D1344;
}

#map-search{
    position: absolute;
    width: 15%; 
    height: 45px;
}

.friend-container{
    text-align: center;
    border: solid 10px #DB6B63;
    background-color: transparent;
    border-radius: 25px;
    margin: 10px;
    height: 100%;
    padding: 0px;
    box-shadow: 0px 0px 10px #DB6B63;
    overflow: scroll;
}


form{
    margin: 0;
}

#friends-list{
    position: absolute;
    top: 450px;
}

#friends{
    margin: 10px;
    border-radius: 10em 10em;
    border: solid 5px #ED9783;
    background-color:#FBE7B9;
    width: 60%;
    height: 60px;
    color:#BD4A84
}

#search-container{
    margin: 2em;
}

#search-restaurants{
    background-image: url("/static/images/manjibuttonadd1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 5em;
    height: 3em;
}

#search-form-container{
    border: solid 5px #ED9783;
    background-color: #ED9783;
    padding: 30px;
    width: 110%;
    border-radius: 25%;
    margin-top: 50px;
}

#search-grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 20px; 
    align-items: center;
    background-color:#ED9783;
    border-radius: 25px;
    justify-content: space-evenly;
    background-image: url("/static/images/manjisearchlogo.png");

}

#load-grid {
    height: 300px;
    align-items: center;
    background-color:#ED9783;
    border-radius: 25px;
    justify-content: space-evenly;
    background-image: url("/static/images/manjisearchlogo.png");

}

#search-grid .card{
    width: 12em;
    border: 5px solid #ED9783;
    background-color: #F3E2D9;
}

#search-nav{
    background-image: url("/static/images/croissant.png"), url("/static/images/cinnabun.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    margin: 0;
    background-position: 80%, 
                        90%;
}


.card {
    border-radius: 25px;
    border: 5px solid #BD4A84;
    background-color:#F3E2D9;
    width: 15em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    min-height: 15em;
    max-height: 15em;
    overflow: scroll;
    box-shadow: 0px 0px 10px #BD4A84;
}


#restaurant-container{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    border: 3px solid #BD4A84;
    border-radius: 25px;
    background-color: #DB6B63;
    height: 30em;
    overflow: scroll;
    margin: 20px;
    position: relative;
}

#empty-restaurants{
    background-image: url('/static/images/manjighost.png');
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    color:#6D1344;
    padding: 10px;
   
}

#comment-box{
    overflow: scroll;
    min-height: 5em;
    margin: 12px;
    padding: 2px;
    border: 3px solid #ED9783;
    background-color: #FBE7B9;
    border-radius: 25px;
    color:#DB6B63;
    z-index: 6;
}

#comment-edit{
    background-image: url("/static/images/comment.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 38px;
}

.card-footer{
    background-color:#6D1344;
    margin-top: auto;
    color:#ED9783;
    height: 50px;
    font-family: 'Avenir medium', Arial, Helvetica, sans-serif sans-serif;
    
}

.card-footer:last-child {
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

#card-body{
    height: 100%;
}


#restaurant-list-btns{
    margin: 50px;
    margin-bottom: 0px;
}

#restaurant-edit{
    background-image: url("/static/images/manjibuttonedit.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 5%;
    height: 44px;
    margin: 5px;
}

#fav-btn {
    background-image: url("/static/images/manjibuttonstar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 2em;
    height: 2em;
    color: white;
    white-space: nowrap;
}

#delete{
    background-image: url("/static/images/trashcan.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 30px;
}

#restuarant-comment-modal{
    z-index: 8
}

#log-in-btn {
    background-image: url("/static/images/manjilogin.png");
    background-size: cover;
    width: 11em;
    height: 3.5em;
}

#submit-search{
    background-image: url("/static/images/manjibuttonsubmit.png");
    background-size: cover;
    width: 10em;
    height: 4em;
}

#cake{
    background-image: url("/static/images/manjicake.png");
    background-size: contain;
    height: 10em;
    width: 100%;
    background-repeat: no-repeat;
    margin: 15%;
}

.city-filter{
    background-color:none;
    border: none;
    color: #6D1344;
    font-style: oblique;
    background-image: url("/static/images/manjifilterbycity.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    box-shadow: 0px 0px 5px #ED9783;

}

.city-filter:focus {
    background-color:#FBE7B9;
    border: 3px solid #ED9783;
    background-image: none;
}

button:hover {
    transform: skew(-10deg);
}

a:hover {
    transform: skew(-10deg);
}

#profile-follow-btn{
    position: sticky;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 3px #ED9783;
    background-image: url("/static/images/manjibuttonfollow.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 64px;
    margin-top: 10px;
}


