
{% extends 'base.html' %}

    

{% block body %}

<h1> Restaurants to add to {{user_id}}'s list</h1>

<div id="add_restaurant"></div>

{% endblock %}

{% block js %}
<script src="/static/components/add_restaurant.jsx" type="text/jsx"></script>
{% endblock %}
<!-- Possible Form Format -->
<!-- <select class="form-select" multiple aria-label="multiple select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select> -->

<!-- Below is for no react -->
<!-- <div class="container" name="restaurant_search" >
    
    <div class="col">
        <h2>Search for Restaurants</h2>
        
        <form>
            <div class="row">
                <label for="search-keyword">Search Name of Restaurant</label>
                <input
                id="search-keyword"
                type="text"
                name="search-keyword"
                >
            </div>

            <div class="col-5">
                <label for="search-city"> City </label>
                <input
                id="search-city"
                type="text"
                name="search-city"
                >
            </div>
            
            <button type="submit" class="btn btn-primary">Show Restaurant</button> 
        </form>

        <h3> Search Results </h3>
        
         <ul id="restaurants"> </ul>

    </div>

    <script src="/static/show_restaurants.js"></script>
    
</div> -->
