<!DOCTYPE html> 

{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container" id="main-page">
    <input type="hidden" id="user_id" value="{{user.user_id}}"/> 
        <section id="homepage">
        </section>
        <div id="friend_connect_link">
            <div className='row'></div>
        </div>
    
    </div>
{% endblock %}

{% block js %}


<script src ="/static/edit_restaurant_fav.js"></script>
<script src ="/static/components/useRestaurants.jsx"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqSPEmkKzJZU1oytnJ2d45AThGnsYaja4&libraries=places"
></script>
<script src="/static/components/map_container.jsx" type="text/jsx"></script>

<script src="/static/components/navbar.jsx" type="text/jsx"> </script>
<script src="/static/components/user_restaurants.jsx" type="text/jsx"></script>
<script src="/static/components/friends.jsx" type="text/jsx"></script>
<script src="/static/components/homepage.jsx" type="text/jsx"></script>

{% endblock %}
