{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<div class="container">

    <h1> Why Hello There, {{user.fname}}</h1>


    <div> {{user}} </div>

    <a href="/add_restaurant_page" > Add a restaurant! </a>

</div>



<ul class="list-group" id="user_restauarants">
    <div> Restaurants for {{user.user_id}}: </div>

</ul>


{% endblock %}

<!-- <div id="mainPage"></div>
<div id="root"></div>

<script src="/static/js/homepage.jsx" type="text/jsx"></script>
<script src="/static/components/add_restaurant.jsx" type="text/jsx"></script> -->