<!DOCTYPE html> 

{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    {% include 'nav_bar.html' %}
<div class="container">

    <h1> Why Hello There, {{user.fname}}</h1>

    <input type="hidden" id="user_id" value="{{user.user_id}}"/> 
  
    <div id="friend_connect_link">
        <div className='row'></div>
        <a class="btn btn-success btn-lg" href="/my_manji/{{user.user_id}}">Profile</a> 
    </div>

    <a class="btn btn-info btn-lg" href="/search_restaurant" > Search restaurants to add! </a> 
</div>

<div class="container" id="homepage"></div>

{% endblock %}

{% block js %}


<script src ="/static/edit_restaurant_fav.js"></script>
<script src ="/static/components/useRestaurants.jsx"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqSPEmkKzJZU1oytnJ2d45AThGnsYaja4&libraries=places"
></script>

<script src="/static/components/map_container.jsx" type="text/jsx"></script>
<script src="/static/components/user_restaurants.jsx" type="text/jsx"></script>
<script src="/static/components/friends.jsx" type="text/jsx"></script>
<script src="/static/components/homepage.jsx" type="text/jsx"></script>

{% endblock %}
