{% extends 'base.html' %}

{% block body %}
<div id="first-page" class="container">  
  
    <div id="log-in-form">
    <form action="/login" method="POST"  id="log-in">
      <h1>Manji!</h1>
      
      <h2>Log In</h2>
      
        <input id="field-email" type="text" name="email" required placeholder="Email">
      

      <p>
        <input type="password" name="password" placeholder="Password">
      </p>
      
      <p>
        <input type="submit" value="Log me in!" class="btn btn-primary">
      </p>
    </form>

    <h2>Don't have an account? 
      Create one here</h2>
    <button href="/register" id="register-btn" >
    <!-- <img height="100px" src="/static/images/manjiregister.svg" /> -->
    </button>
    </div> 
       
</div>


{% endblock %}