{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% include 'nav_bar.html' %}
    <h4> {{name}}'s profile</h4>
    <div>
        {%if user_id != session['user_id'] %}
            </div>
            in_ses: {{session.user_id}}, friend: {{user_id}}
            <a class="btn btn-success btn-lg" href="/add_friend_to_list/{{user_id}}">Add friend</a>
            </div>
        {%endif%}
    </div>
    <ul>
    {% for rest in fav_list %}
    <li>{{ rest }}</li>
    {% endfor %}
    </ul>

    <div id="user restaurants" class = "container col"></div>
{% endblock %}

<!-- {% block js %}
<script src="/static/components/profile.jsx" type="text/jsx"></script>


{% endblock %} -->