
{% extends 'base.html' %}

{% block body %}

{% include 'nav_bar.html' %}

<div class = "container col">
    <h1> Restaurants to add to {{user_id}}'s list</h1>

    <div id="search_restaurant"></div>

</div>

{% endblock %}

{% block js %}
<script src ="/static/add_restaurant_fav.js"></script>
<script src="/static/components/search_restaurant.jsx" type="text/jsx"></script>

{% endblock %}

<!-- Below is for no react -->
<!-- <div class="container" name="restaurant_search" >
    <script src="/static/components/restaurant_search.jsx"></script>
    <div class="col">
        <h2>Search for Restaurants</h2>
        
        <form>
            <div class="row">
                <label for="search-keyword">Search Name of Restaurant</label>
                <input
                id="search-keyword"
                type="text"
                name="search-keyword"
                >
            </div>

            <div class="col-5">
                <label for="search-city"> City </label>
                <input
                id="search-city"
                type="text"
                name="search-city"
                >
            </div>
            
            <button type="submit" class="btn btn-primary">Show Restaurant</button> 
        </form>

        <h3> Search Results </h3>
        
         <ul id="restaurants"> </ul>

    </div>

    
    
</div> -->
